<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Liste d'étudiants</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="getUserInfo()">
        <ion-icon name="refresh" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-img">

    <ion-card *ngFor="let listUser of tabUsers">
      <ion-item-sliding> 
        <ion-item  lines="none">
          <ion-label>
            <b>Prénom :</b> {{listUser.prenom}}<br>
            <b>Nom :</b> {{listUser.nom}}<br>
            <b>Année de naissance :</b> {{listUser.age}}<br>
            <b>Classe :</b> {{listUser.classe}}<br>
            <b>Sexe :</b> {{listUser.sexe}}
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="tertiary" (click)="editModalUser(listUser)">
            <ion-icon name="create-outline" slot="icon-only"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteUser(listUser)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </div>

</ion-content>
